html, body {
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

.full-window {
    width: 100%;
    height:100%;
}

#countContainer {
    font-size: 1.0rem;
    color: white;
}

#center-coords {
    position: absolute;
    left: 25px;
    bottom: 10px;
    background-color: white;
    padding: 12px;
    /*min-width: 225px;*/
    min-height: 25px;
    z-index: 1500;
    font-size: 1.0rem;
    opacity: 0.8;
}

#button-clear {
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2500;
    padding: 5px 20px;
    font-size: 1.2rem;
    pointer-events: all;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    border: 3px solid white;
    opacity: 0.9;
}

#description {
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: rgba(200, 200, 200, 0.4);
    color: lightcyan;
    z-index: 2500;
    padding: 10px;
    font-size: 1.4rem;
    text-shadow: 1px 1px black;
}

#mapid {
}